<form action="" method="post">
  <fieldset>
    <legend>Tagi belépés:</legend>
    <span class="title">Felhasználó</span>
    <input type="text" name="name" />
    <span class="title">Jelszó</span>
    <input type="password" name="pass" />
    <input type="submit" value="Belépés" />
  </fieldset>
</form>
<style>
  form .title {
    font-weight: bold;
  }

  input[type="text"] {
    font-size: 2.5vh;
    width: 100%;
    padding: 2vh 2vh;
    margin: 1vh 0;
    box-sizing: border-box;
  }

  input[type="number"] {
    font-size: 2.5vh;
    width: 100%;
    padding: 2vh 2vh;
    margin: 1vh 0;
    box-sizing: border-box;
  }

  input[type="submit"] {
    border: none;
    padding: 1vh 2vh;
    background: linear-gradient(to right, #66ccff 0%, #ccccff 100%);
    font-size: 2.5vh;
    cursor: pointer;
    border-radius: 1vh;
    border-bottom: 0.2vh solid transparent;
  }

  input[type="submit"]:hover {
    color: white;
    border-bottom: 0.2vh solid gray;
  }

  input[type="password"] {
    font-size: 2.5vh;
    width: 100%;
    padding: 2vh 2vh;
    margin: 1vh 0;
    box-sizing: border-box;
  }
</style>
