---
---

<div class="header"><a href="/">KBPR Csoport</a></div>

<style>
  .header {
    color: white;
    background-image: url("/logo.svg"), url(/printing1.png),
      linear-gradient(to right, #66ccff 0%, #ccccff 100%),
      url("../pic/printing1.png");
    background-blend-mode: normal, normal, multiply, normal;
    background-repeat: no-repeat, repeat, no-repeat, no-repeat;
    height: 30vh;
    background-position: center;
    background-size: 25vh, auto, cover, cover;
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-align: center;
    /* Firefox */
    display: -moz-box;
    -moz-box-align: center;
    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-align: center;
    /* W3C */
    display: box;
    box-align: center;
    padding-left: 10vh;
    font-size: 8vh;
  }

  .header a {
    text-decoration: none;
    color: white;
  }
</style>
