---
---

<ul class="nav">
  <li><a href="/">Hírek</a></li>
  <li><a href="/rendeles">Rendelés leadás</a></li>
  <li><a href="/kwc">KWC</a></li>
  <li><a href="/kapcsolat">Kapcsolat</a></li>
  <li><a href="/tag">Tagoknak</a></li>
</ul>

<style>
  .nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #66ccff 0%, #ccccff 100%);
  }

  .nav li {
    display: inline-block;
    margin: 2vh 3vh 2vh 3vh;
    max-width: 25vh;
    min-width: 25vh;
  }

  .nav li:hover {
  }

  .nav li a {
    color: #232326;
    text-decoration: none;
  }

  .nav li a:hover {
    color: white;
    text-decoration: none;
  }

  .nav li .active {
    font-weight: bold;
    text-decoration: none;
  }
</style>
