---

---

<div class="infobox">
  <slot />
</div>

<style>
  .infobox {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2P4//9/AwAJfAN+YX69HQAAAABJRU5ErkJggg==),
      linear-gradient(to right, #66ccff 0%, #ccccff 100%);
    background-repeat: repeat, no-repeat;
    padding: 2vh 3vh 2vh 3vh;
    border-radius: 1vh;
    margin-bottom: 2vh;
  }
</style>
