---
export interface Props {
  title: string;
  content: string;
  time: string;
}
import Box from "./Box.astro";

const { title, content, time } = Astro.props;
---

<Box>
  <div class="title">{title}</div>
  <div class="content">
    {content}
  </div>
  <div class="time">{time} - KBPR</div>
</Box>

<style>
  .title {
    font-size: 3.8vh;
    font-weight: bold;
    margin-bottom: 2vh;
  }

  .title-small {
    font-weight: bold;
    margin-bottom: 1vh;
  }

  .time {
    margin-top: 2vh;
    font-size: 2vh;
    font-style: italic;
  }
</style>
